{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Connection</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}/">

<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'connection/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}/">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'connection/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}/">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'connection/vendor/animate/animate.css' %}/">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'connection/vendor/css-hamburgers/hamburgers.min.css' %}/">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'connection/vendor/animsition/css/animsition.min.css' %}/">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'connection/vendor/select2/select2.min.css' %}/">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'connection/vendor/daterangepicker/daterangepicker.css' %}/">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'connection/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'connection/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Connexion
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate="Nom d'utilisateur requis">
						<input class="input100" type="text" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100">Nom d'utilisateur</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Mot de passe requis">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Mot de passe</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">

						<div>
							<a href="#" class="txt1 ml-auto">
								Mot de passe oublié ?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" onclick="login('{{ csrf_token }}')">
							Se connecter
						</button>
					</div>

				</form>
				<div class="login100-more" style="background-image: url('{% static "connection/logo-police.png" %}');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script>
        const inputs = $('.input100')
        console.log(inputs)
        input = inputs[0]
        console.log(input)
        inputs.on('input', function (elem) {
            if(this.value) {
                if ( !this.className.includes("has-val"))
                    this.className += " has-val"
            } else {
                if ( this.className.includes("has-val"))
                    this.className = "input100"
            }
        })
    </script>
<!--===============================================================================================-->
	<script src="{% static 'connection/vendor/animsition/js/animsition.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>

<!--===============================================================================================-->
	<script src="{% static 'connection/vendor/select2/select2.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'connection/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'connection/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'connection/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'connection/connection.js' %}"></script>
    <script src="{% static 'sweetalert2.js' %}"></script>
</body>
</html>