{% extends "base.html" %}
{% load static %}

{% block title %}Not base title{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'jquery-jvectormap-2.0.5.css' %}">
    <script src="{% static 'jquery-jvectormap-2.0.5.min.js' %}"></script>
    <script src="{% static 'jquery-jvectormap-fr-merc.js' %}"></script>
{% endblock %}

{% block body %}
        <div id="map" class="col-12 h-75"></div>
        <script>
            $('#navbar_carte').addClass("active")
            $('#map').vectorMap({
                map: 'fr_merc',
                height: 700,
                width: 600,
                onRegionTipShow: function(e, el, code){
                    array = code.split('-')
                    dpt_code = array[array.length - 1]
                    el.html(code);
                },
                onRegionClick: function (e, code) {
                    location.href = "{% url 'gestionnaire' "placeholder" %}".replace("placeholder", code)
                }
            })
        </script>
{% endblock %}
